### Get price/ item information from https://www.benefitcosmetics.com/en-us/all-makeup

In [1]:
import requests
import pandas as pd
import json

In [2]:
r= requests.get('https://www.benefitcosmetics.com/api/en-US/search/?c=1073741985__CatalogContent&size=120')

In [3]:
obj=json.loads(r.text)

In [5]:
itemlst=[]
for i in range(0, 120):
    name = obj['entries'][i]['title']  # product name
    rPrice = obj['entries'][i]['minRetailPrice'] # retail price
    sPrice = obj['entries'][i]['minSalePrice'] # sale price   
    
    if rPrice is None:
        print('No price: '+ name)

    else: 
        if sPrice is None:
            itemlst.append({"Product Name": name,
                            "Retail Price":rPrice['value'],
                            "Sale Price":sPrice})
        else:
            itemlst.append({"Product Name": name,
                            "Retail Price":rPrice['value'],
                            "Sale Price":sPrice['value']})
            
data=pd.DataFrame(itemlst)
data

No price: POREfect Primer Deal!

,Product Name,Retail Price,Sale Price
0,They're Real! Magnet Extreme Lengthening Mascara,27.0,NaN
1,BADgal BANG! Volumizing Mascara,26.0,NaN
2,They're Real! Magnet Extreme Lengthening Masca...,15.0,NaN
3,They're Real! Lengthening Mascara,26.0,NaN
4,Fouroscope: Earth Angel,36.0,NaN
...,...,...,...
114,Hoola Glow Shimmer Bronzer,30.0,NaN
115,Hoola Contourist Bronze & Contour Palette,32.0,NaN
116,Playtint Cheek & Lip Stain,18.0,NaN
117,Let’s Kiss & Hoola Set,34.0,NaN
118,Gimme Brow+ Volumizing Eyebrow Gel,24.0,NaN

In [13]:
print('All item: ' + str(len(obj['entries'])))
print('Available item: ' + str(len(data)))
print('Retail Price: $'+ str(data['Retail Price'].min())+' ~ $' + str(data['Retail Price'].max()))
print('Average Price: $'+ str(round(data['Retail Price'].mean(), 2)))
print('On sale item: '+ str(data['Sale Price'][data['Sale Price'].notnull()].count()))

All item: 120
Available item: 119
Retail Price: $5.0 ~ $60.0
Average Price: $25.97
On sale item: 13

In [14]:
print(data['Retail Price'].describe())

count    119.000000
mean      25.974790
std        9.404707
min        5.000000
25%       18.000000
50%       26.000000
75%       32.000000
max       60.000000
Name: Retail Price, dtype: float64